<footer class="footer"> 
    <div class="container">
        <p class="footer__text">@Le site n'utilise que les travaux des élèves du Lycée "Talma" de TA</p>
        <p class="footer__text" style="font-size: 16px;">
            DEV: <a style="text-decoration: underline;" href="https://www.linkedin.com/in/sorin-tinea-49ab85292/" target="_blank">Tinea Sorin </a>
        </p>
    </div>
    
</footer>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="js/main.min.js"></script>
</body>

</html>